@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: white;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
    color: white;
    background: black;
    scroll-behavior: smooth;
    overflow: hidden;
}

/* LOADING SCREEN */

.loading-screen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: black;
    z-index: 1;
    transition: opacity 1s ease-in-out;
}

.loader {
    width: 50px;
    height: 50px;
    border: 5px solid white;
    border-radius: 50%;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
    animation: spin 1.5s linear infinite;
}

.loading-screen p {
    color: white;
    font-family: 'League Gothic', sans-serif;
    font-size: 30px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

/* NAVIGATION */

.bb {
    font-family: 'League Gothic', sans-serif;
    font-size: 25px;
    position: fixed;
    top: 5px;
    left: 10px;
    text-shadow: 1px 1px 1px black;
}

.bb:hover, .burger:hover, .cross:hover {
    cursor: pointer;
    text-shadow: white 1px 0 10px;
    transition: 0.3s;
}

.burger {
    font-size: 25px;
    position: fixed;
    top: 7px;
    right: 10px;
    text-shadow: 1px 1px 1px black;
}

.cross {
    position: fixed;
    top: 4px;
    right: 12px;
    z-index: 3;
    font-size: 30px;
}

.none-important {
    display: none !important;
}

#menu {
    width: 100%;
    height: 100%;
    background: #1B1B1B;
    position: absolute;
    z-index: 2;
    top: -1000px;
    transition: 0.5s;
    position: fixed;
}

#menu div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

#menu a {
    font-family: 'League Gothic', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 45px;
}

/* HOMEPAGE */

#home {
    width: 100vw;
    height: 100vh;
    min-height: 600px;
    overflow: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("./background.webp");
    background-size: cover;
    background-position: center;
    text-shadow: 1px 1px 1px black;
}

h1 {
    font-size: 65px;
    font-family: 'League Gothic', sans-serif;
    margin: 0;
    line-height: 1;
}

#home h2 {
    margin: 0;
}

h2 {
    font-size: 45px;
    font-family: 'League Gothic', sans-serif;
    margin: 0 0 30px 0;
    text-align: center;
}

/* ABOUT ME */

#about-me {
    width: 100%;
    height: 550px;
    display: flex;
}

.about-left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture {
    width: 60%;
    height: 90%;
    background-image: url("./ian-stauffer-uftqFbfWGFY-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.about-right {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-me {
    width: 85%;
    height: 90%;
    margin-right: 15%;
    border: 1px solid grey;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: black;
}

.about-me p {
    font-size: 20px;
    margin: 0 5%;
    text-align: justify;
}

.langages, .tools {
    display: flex;
    justify-content: center;
}

.my-skills p {
    text-align: center;
    margin: 0;
}

.group p {
    font-size: 15px;
}

.circle {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px 5px 15px;
}

.circle img {
    width: 30px;
    height: 30px;
}

/* PORTFOLIO */

#portfolio {
    width: 100%;
    height: 600px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio {
    width: 90%;
}

.carousel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.carousel img {
    border-radius: 5px;
    margin: 10px;
    width: 350px;
}

.carousel img:hover {
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: white 1px 0 10px;
    transition: 0.3s;

}

/* CONTACT */

#contact {
    width: 100%;
    height: 550px;
    display: flex;
}

.contact-left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    width: 85%;
    height: 90%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 20px;
    background: black;
}

.links {
    width: 80%;
    margin: 0 10%;
    margin-bottom: 10px;
}

.contact a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.contact i {
    font-size: 25px;
    color: white;
    margin-right: 5px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 80%;
}

label {
    font-size: 20px;
}

input {
    width: 100%;
    height: 25px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background: black;
    color: white;
    border: 2px solid white;
}

textarea {
    width: 100%;
    height: 75px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background: black;
    color: white;
    border: 2px solid white;
}

button {
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-family: 'League Gothic', sans-serif;
    font-size: 20px;
    border: none;
}

button:hover {
    transform: scale(1.05);
    transition: 0.1s;
    cursor: pointer;
}

iframe {
    width: 60%;
    height: 90%;
    border-radius: 20px;
    text-align: center;
}

.contact-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* API */

.api {
    width: 400px;
}

.api img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 400px;
}

.api p {
    font-size: 15px;
    text-align: center;
}

.apod-title {
    border: 1px solid grey;
    width: 100%;
    background: black;
}

/* RESPONSIVE */

@media screen and (max-width: 1235px) {
    #portfolio {
        height: 800px;
    }
}

/* @media screen and (max-width: 1000px) {
    .api {
        width: 350px;
    }
} */

@media screen and (max-width: 825px) {
    #about-me {
        flex-direction: column;
        height: 850px;
        width: 100%;
    }
    .about-left {
        height: 35%;
        width: 100%;
        border-radius: 0;
    }
    .picture {
        width: 80%;
    }
    .about-right {
        height: 65%;
        width: 100%;
    }
    .about-me, .my-skills {
        width: 80%;
        margin-right: 0;
    }
    .circle {
        margin: 0 10px 5px 10px;
    }

    #portfolio {
        height: 1500px;
    }

    #contact {
        flex-direction: column;
        height: 850px;
        width: 100%;
    }
    .contact-left {
        height: 65%;
        width: 100%;
    }
    .contact-right {
        height: 25%;
        width: 100%;
        border-radius: 0;
    }
    .contact {
        width: 80%;
        margin-left: 0;
    }
    /* .api {
        width: 300px;
    } */
    iframe {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .group p {
        font-size: 13px;
    }
    .circle {
        width: 35px;
        height: 35px;
    }
    .circle img {
        width: 25px;
        height: 25px;
    }
    .contact a {
        font-size: 16px;
    }
    .contact i {
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {
    #home h1, #home h2 {
        width: 60%;
        margin: 0 20%;
    }
    #about-me {
        height: 900px;
    }
    .about-left {
        height: 30%;
    }
    .about-right {
        height: 70%;
    }
    #portfolio {
        height: 1300px;
    }
    .carousel img {
        width: 300px;
    }
    .contact {
        height: 480px;
    }
    .contact a {
        font-size: 13px;
    }
}